.elgg-main {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: static;
	width: auto;
	padding-left: 260px;
	margin-right: 10px;
	margin-top: 10px;
}

.elgg-main form {
	width: 100%;
}

input, textarea {
	font-size: 200%;
	border: 0;
	border-bottom: 1px solid #ccc;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 10px;
	resize: none;
}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
	border: 0;
	border-bottom: 1px solid #ccc;
	background: white;
	color: black;
}

.counter {
	padding: 10px;
	font-size: 300%;
	color: #aaa;
	float: right;
	margin-right: 90px;
	margin-top: -38px;
}

.left-sidebar {
	top: 20px;
	background: rgba(226,226,226,0.7);
	padding: 10px;
	padding-bottom: 0;
	width: 200px;
	text-align: center;
}

.ad {
	margin-top: 10px;
}