.elgg-main {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 400px;
	margin-left: -400px;
	margin-top: -200px;
	padding: 10px;
}

.register div {
	padding-bottom: 15px;
}

.elgg-body, .elgg-col-last {
	overflow: visible;
}

h2 {
	display: none;
}

input, textarea {
	font-size: 200%;
	border: 0;
	border-bottom: 1px solid #ccc;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 780px;
	padding: 10px;
}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
	border: 0;
	border-bottom: 1px solid #ccc;
	background: white;
	color: black;
}

.elgg-form-login, .elgg-form-account .elgg-foot {
	margin-top: -50px;
}

.elgg-button {
	margin-top: 70px;
}
