.left-sidebar {
	top: 20px;
	background: rgba(226,226,226,0.7);
	padding: 10px;
	width: 200px;
}

.elgg-main .elgg-head {
	display: none;
}

.elgg-main {
    top: 10px;
    bottom: 60px;
    left: 250px;
    right: 0;
    position: absolute;
    -moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	-moz-column-gap: 0px; /* Firefox */
	-webkit-column-gap: 0px; /* Safari and Chrome */
	column-gap: 0;
	width: 930px;
	margin-left: 0px;
}

.mbm, .mvm {
	width: 145px;
}

.elgg-module {
	margin-top: 10px;
	margin-bottom: -5px;
}

.elgg-module .elgg-button {
	margin-top: .5px;
	padding: 3.4px 10px;
}

.elgg-menu-filter {
	margin-left: -10px;
	margin-bottom: 10px;
	background: none;
	border: 0;
}

.elgg-menu-filter > li {
	background: none;
	border: 0;
	width: 200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

.elgg-menu-filter > li a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	background: #aaa;
	font-size: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
}

.elgg-menu-filter > .elgg-state-selected a {
	background: #aaa;
	top: 0;
	border: 1px solid #9f9f9f;
	padding-top: 9px;
	padding-bottom: 4px;
	background: -moz-linear-gradient(top, #aaa 0%, #9f9f9f 100%);
	background: -webkit-gradient(linear, 0% 0%,0% 100%, from(#9f9f9f), to(#999));
	background: -webkit-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -o-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -ms-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: linear-gradient(top, #aaa 0%,#9f9f9f 100%);
}

.elgg-menu-filter > .elgg-state-selected a:hover {

}

.elgg-menu-filter > .elgg-state-selected a:hover {
	background: #aaa;
	background: -moz-linear-gradient(top, #aaa 0%, #9f9f9f 100%);
	background: -webkit-gradient(linear, 0% 0%,0% 100%, from(#9f9f9f), to(#999));
	background: -webkit-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -o-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -ms-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	border: 1px solid #9f9f9f;
	top: 0;
	color: white;
}

.elgg-menu-filter > li a:hover {
	background: #aaa;
	background: -moz-linear-gradient(top, #aaa 0%, #9f9f9f 100%);
	background: -webkit-gradient(linear, 0% 0%,0% 100%, from(#9f9f9f), to(#999));
	background: -webkit-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -o-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -ms-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	border: 1px solid #9f9f9f;
	color: white;
	padding-top: 9px;
	padding-bottom: 4px;
}

.elgg-menu-page {
	margin-bottom: 0;
	margin-top: 10px;
	text-align: center;
}

.elgg-menu-page a {
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	color: white;
	background: #aaa;
	font-size: 100%;
}

.elgg-menu-page li.elgg-state-selected > a {
	border: 1px solid #9f9f9f;
	background: #aaa;
	background: -moz-linear-gradient(top, #aaa 0%, #9f9f9f 100%);
	background: -webkit-gradient(linear, 0% 0%,0% 100%, from(#9f9f9f), to(#999));
	background: -webkit-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -o-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -ms-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	padding-top: 9px;
	padding-bottom: 9px;
}

.elgg-menu-page a:hover {
	border: 1px solid #9f9f9f;
	background: #aaa;
	background: -moz-linear-gradient(top, #aaa 0%, #9f9f9f 100%);
	background: -webkit-gradient(linear, 0% 0%,0% 100%, from(#9f9f9f), to(#999));
	background: -webkit-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -o-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: -ms-linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	background: linear-gradient(top, #aaa 0%,#9f9f9f 100%);
	font-size: 100%;
	padding-top: 9px;
	padding-bottom: 9px;
}

.elgg-menu-title {
	float: none;
	text-align: left;
	margin-left: -4px;
}

.elgg-menu-title a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	width: 158px;
	font-size: 100%;
}

.elgg-menu-title a:hover {
	color: white;
}

.elgg-main .elgg-list {
	margin-top: -15px;
}

.elgg-main .elgg-list > li, .elgg-main .elgg-list {
   	border: 0;
   	width: 290px;
}

.elgg-main .elgg-list > li {
	border: 0;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 3px;
	background: white;
	padding: 10px;
	color: #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 1.5em;
	margin-top: 20px;
}

.elgg-main .elgg-content {
	position: relative;
	left: 0px;
	font-size: 130%;
	line-height: 1.5em;
}

.elgg-body {
	overflow: visible;
}